*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}

.main-div{
  width: 100%;
  min-height: 100vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-div{
  width:40%;
  border:1px solid #000;
  min-height:80vh;
  background-color:#a2f535;
  padding:10px 40px;
  text-align: center;
}
.center-div h1{
  text-align: center;
  padding:30px;
  text-decoration: underline;
}
.input-div{
  background-color: #fff;
  margin:0 10px;
}
.input-div input{
  width: 85%;
  border: none;
  outline: none;
  line-height: 40px;
  border-radius: 10px;
  font-size: 24px;
}
.input-div button{
  line-height: 40px;
  width: 40px;
  font-size: 24px;
  border:none;
  float: right;
  cursor:pointer;
}
.input-div button:hover{
background-color: #ccc;
}

.record{
margin: 25px 10px;

 

}
.list_item{
  width: 100%;
  padding: 0 10px;
  margin: 20px 0px;
  line-height: 30px;
  font-size: 18px;
  line-height: 40px;
  background-color: #530786;
  color: #fff;
}
.list_item::after{
  content: "";
  display: block;
  clear: both;
}
.list_item:hover{
  background-color: #fff;
  color:#000
}


  .list_item:hover .delete_btn {
    color:rgb(255,0,0) !important;
  cursor: pointer;
}


.content{
  line-height: inherit;
  float: left;
  
}

.delete_btn{
  float: right;
  color: #fff;
  line-height: inherit;
}
 
.clear_all{
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #530786;
  color:#fff
}
.clear_all:hover{
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width:992px){
  .center-div{
    width:60%;
  }
}
@media screen and (max-width:768px){
  .center-div{
    width:75%;
  }
}
@media screen and (max-width:576px){
  .center-div{
    width:90%;
  }
}